.statistics {
  padding: 30px;
  background-color: rgb(230, 227, 227);
}

.title {
  font-size: 30px;
  background-color: aliceblue;
}

.statList {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
}

.item {
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  display: block;
  border: solid 1px black;
}

.label {
  display: block;
  text-align: center;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 500;
  color: white;
}

.percentage {
  display: block;
  text-align: center;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 500;
  color: white;
}
